body {
  background-image: url(/images/schoene-hand-gemalt-aquarell-hintergrund_1020-1087.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  font-family: "Sacramento", cursive;
}

#carousel {
    height: 50vh;
    width: 70vh;
}

#rotd {
    height: 20vh;
}